html {
    overflow: hidden
}

html, body{
    height: 100%
}

body{
    overflow: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    -moz-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.header {
	height: 10vh;
	background-color: #369dff;
	color: #ffffff;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;

}
.nav a {
	color: #ffffff;
	font-size: 15px;
    padding: 0 0.4rem;
}
.nav a:hover {
	color: #ff520c;
}
.title-overlay {
	margin: 5vh 0;
 	min-height: 40vh;
 	font-size: 22px;
 	text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
 	color: #ffffff;
}

.title-overlay h1{
    margin-bottom: 2vh;
    font-size: 50px;
    padding: 0 20%;
} 
.title-overlay p{
    padding: 0 10%;
} 
.video-overlay {
    height: 20vh;
    max-width: 300px;
}
.video-overlay video{
    width: 80%;
}
.host-video-div {
    display:flex;
    justify-content: center;
    height: 30vh;
}
/* This is just some CSS styling to make the video fill 100% of its div */
.videoContainer {
    height:100%;
    width:100%;
    max-width: 100%;
    overflow: hidden;
}   
.videoContainer video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    z-index: -99;
    opacity: .3:;
}
.second-panel {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.real-estate-div {
    padding: 0 20%;
}
.real-estate-div h3 {
	padding: 20px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    color: #ffffff;
}
.real-estate-div img {
    min-width: 100px;
	max-height: 300px;
    width: calc(100% - 30px);
    box-shadow: 5px 9px 24px 2px grey;
    border-radius: 5px;
}
.marketing-div div {
	max-height: 300px;
	overflow-y: scroll;
}

.marketing-div h5 {
	padding: 20px;
}
.footer {
    height: 100px;
    background-color: gray;
    color: white;
    display: flex;
	justify-content: center;
	align-items: center;
}

#detail-header {
    text-align: center;
}
/*@media screen and (min-width: 768px) {
    .real-estate-div {
        box-shadow: 2px 3px 28px 3px grey;
    }
}*/
@media screen and (min-width: 100px) {
    .title-overlay h1{
        padding: 0;
    } 
}
@media screen and (min-width: 492px) {
    .title-overlay h1{
        padding: 0 20%;
    } 
}
@media screen and (min-width: 882px) {
    .title-overlay h1{
        padding: 0 10%;
    } 
}
@media screen and (min-width: 1018px) {
    .title-overlay h1{
        padding: 0 20%;
    } 
}

@media screen and (min-width: 575px) {
    .video-overlay video{
        width: 100%;
    }
    .real-estate-div {
        padding: 0;
    }
}
@media screen and (min-width: 620px) {
    .header {
        justify-content: space-between;
    }
}

@media screen and (min-width: 595px) {
    .header {
        /*height: 10vh;*/
    }
    .header h3 {
        margin-left: 1%;
    }
    .header .nav {
        margin-right: 1%;
    }
  
}
@media screen and (min-width: 665px) {
    .header h3 {
        margin-left: 5%;
    }
    .header .nav {
        margin-right: 5%;
    }
}



@media screen and (min-width: 525px) {
    .nav a {
        font-size: 18px;
    }
  /*  .header {
        height: 10vh;
    }*/
}