html {
    overflow: hidden
}

html, body{
    height: 100%
}

body{
    overflow: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    -moz-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.header {
	height: 20vh;
	background-color: #369dff;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header h3 {
	margin-left: 5%;
}
.header .nav {
	margin-right: 5%;
}
.nav a {
	color: #ffffff;
	font-size: 18px;
}
.nav a:hover {
	color: #ff520c;
}
.title-overlay {
	margin: 40vh 0;
 	min-height: 40vh;
 	font-size: 30px;
 	text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
 	color: #ffffff;
}   

/* This is just some CSS styling to make the video fill 100% of its div */
.videoContainer {
    height:100%;
    width:100%;
    max-width: 100%;
    overflow: hidden;
}   
.videoContainer video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    z-index: -99;
    opacity: .3:;
}
.second-panel {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.real-estate-div {
    box-shadow: 2px 3px 28px 3px grey;
}
.real-estate-div h3 {
	padding: 20px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    color: #ffffff;
}
.real-estate-div img {
    min-width: 100px;
	max-height: 300px;
}
.marketing-div div {
	max-height: 300px;
	overflow-y: scroll;
}

.marketing-div h5 {
	padding: 20px;
}
.footer {
    height: 100px;
    background-color: gray;
    color: white;
    display: flex;
	justify-content: center;
	align-items: center;
}